@model AnimalInventory.Models.ViewModel.ResetPassword

@{
    ViewData["Title"] = "ResetPassword";
}

<h2>ResetPassword</h2>

<h4>ResetPassword</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.message != null)
        {
            <div class="text-success">@ViewBag.message</div>
        }
        <form asp-action="ResetPassword">
            <input asp-for="Token" type="hidden"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

